.input {
  padding: 0.4em;
  text-indent: 0.4em;
  font-size: 1.6rem;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
}

.input:focus {
  outline: 1px solid var(--black-color);
}

.todoForm__label {
  font-size: 2rem;
  margin-right: 2rem;
}