.todoForm {
  padding: 2rem;
  font-size: 2rem;
}

.todoForm__fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

@media (max-width:850px) {
  .todoForm__fieldset {
    flex-direction: column;
  }
}

.todoForm__formItem {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .todoForm__formItem {
    flex-direction: column;
    gap: 10px;
  }
}

.todoForm__label {
  font-size: 2rem;
  margin-right: 2rem;
}