.todoItem {
  border-radius: 1rem;
  min-width: 300px;
  padding: 3rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.todoItem__title {
  font-size: 2rem;
  word-wrap: break-word;
}

.todoItem__content {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: var(--gray-color);
  word-wrap: break-word;
}

.todoItem__btns {
  display: flex;
  margin-top: 3rem;
  justify-content: space-around;
}

.todoItem__editBtn {
  display: flex;
  font-size: 2.4rem;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}