.TodoListSection {
  padding: 3rem;
}

.TodoListSection__title {
  font-size: 3rem;
  margin: 1rem 0;
}

.TodoListSection__list {
  position: relative;
  /* gap: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr)); */
}


.TodoListSection__Item {
  display: inline-block;
  width: 360px;
  list-style: none;
  position: absolute;
  transition: transform 200ms ease-in-out;
}
