.TodoListSection {
  padding: 3rem;
}

.TodoListSection__title {
  font-size: 3rem;
  margin: 1rem 0;
}

.TodoListSection__list {
  position: relative;
}


.TodoListSection__Item {
  display: inline-block;
  width: 360px;
  list-style: none;
  position: absolute;
  transition: transform 200ms ease-in-out;
}
