.header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 4rem;
  font-weight: 500;
  position: relative;
}

.header__title::after {
  content: "";
  height: 14px;
  width: calc(110%);
  position: absolute;
  bottom: 6px;
  left: -5%;
  background: #309cff;
  z-index: -1;
}

.header__subtitle {
  font-size: 2.6rem;
}

