@import-normalize;

/* reset css */



* {
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  color: var(--black-color);
}


/* variables */
:root {
  --black-color: #212121;
  --gray-color: #404040;
  --white-color: #ffffff;
}

html {
  font-size: 62.5%;
}


body {
  color: var(--black-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}